<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <variable name="appName" value="SuperEngine"/>
    <!-- the targets to write to -->
    <targets>
        <!-- File Target for all log messages with basic details -->
        <!-- Year, -->
        <!-- Month, -->
        <!-- Day, -->
        <!-- Hour, -->
        <!-- Minute -->
        <target xsi:type="File" name="allfile" fileName="${basedir}/logs/${appName}-${cached:cached=false:Inner=${date:format=yyyy-MM-dd HH.mm}:CacheKey=${shortdate}}.log"
                maxArchiveFiles="999"
                archiveFileName="${basedir}/logs/${appName}-${cached:cached=false:Inner=${date:format=yyyy-MM-dd HH.mm}:CacheKey=${shortdate}}.log"
                createDirs="true"
                archiveAboveSize="102400"
                archiveEvery="Minute" 
                encoding="UTF-8"
                layout="${longdate} [${uppercase:${level}}] ${callsite}(${callsite-filename:includeSourcePath=False}:${callsite-linenumber}) - ${message} ${exception:format=ToString}" />
        <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
        <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
        <target xsi:type="Console" name="allconole"  layout="${longdate} [${uppercase:${level}}] ${callsite}(${callsite-filename:includeSourcePath=False}:${callsite-linenumber}) - ${message} ${exception:format=ToString}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="allfile,allconole" />
        <!--Output hosting lifetime messages to console target for faster startup detection -->
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Debug" maxlevel="Error" writeTo="lifetimeConsole,allfile" final="true" />
    </rules>
</nlog>