@use 'sass:math';
[class*=diygw-col-] {
    float: left;
    box-sizing: border-box;
}
.diygw-col-0{
  width: auto;
}
@for $i from 1 through 24 {
    .diygw-col-#{$i} {
      width: (math.div(1, 24) * $i * 100) * 1%;
      // max-width: (math.div(1, 24) * $i * 100) * 1%;
      //   flex: 0 0 (math.div(1, 24) * $i * 100) * 1%;
    }
  
    .diygw-col-offset-#{$i} {
      margin-left: (math.div(1, 24) * $i * 100) * 1%;
    }
  
    .diygw-col-pull-#{$i} {
      position: relative;
      right: (math.div(1, 24) * $i * 100) * 1%;
    }
  
    .diygw-col-push-#{$i} {
      position: relative;
      left: (math.div(1, 24) * $i * 100) * 1%;
    }
 }

[class*=diygw-col-]{
	.el-form-item{
		flex:1;
		.el-form-item__content{
		  padding-right:10px;
		  .el-input,.el-select{
			flex:1
		  }
		}
	}
	.el-progress--line,.el-steps,.el-tabs,.el-collapse,.el-menu--horizontal{
	  flex:1
	}
	.el-collapse-item__content{
	  padding-bottom: 0px;
	}
}