
/* -- 阴影 -- */
.diygw-shadow{
	box-shadow:  0px 2px 6px var(--blackShadow);
}
.diygw-shadow[class*='white'] {
	--ShadowSize: 0 1px 6px;
}

.diygw-shadow-lg {
	--ShadowSize: 0rpx 40rpx 100rpx 0rpx;
}

.diygw-shadow-warp {
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.diygw-shadow-warp:before,
.diygw-shadow-warp:after {
	position: absolute;
	content: "";
	top: 10px;
	bottom: 15px;
	left: 10px;
	width: 50%;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
	transform: rotate(-3deg);
	z-index: -1;
}

.diygw-shadow-warp:after {
	right: 10px;
	left: auto;
	transform: rotate(3deg);
}

.diygw-shadow-blur {
	position: relative;
}

.diygw-shadow-blur::before {
	content: "";
	display: block;
	background: inherit;
	filter: blur(5px);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5px;
	left: 5px;
	z-index: -1;
	opacity: 0.4;
	transform-origin: 0 0;
	border-radius: inherit;
	transform: scale(1, 1);
}
