$diygw-colors: 'red','orange','yellow','olive','green','cyan','blue','purple','mauve','pink','brown','grey','black','white';
$diygw-graduals :'red','orange','green','purple','pink','blue';

$diygw-directions: none top right bottom left;

$diygw-sizes: none xs sm md lg xl;

$diygw-radius-width: () !default;

$diygw-radius-width: map.merge(
  (
    'none': 12px,
    'xs': 3px,
    'sm': 8px,
    'md': 12px,
    'lg': 16px,
    'xl': 200px
  ),
  $diygw-radius-width
);

$diygw-radius-width: () !default;


$diygw-font-sizes: () !default;
$diygw-font-sizes: map.merge(
  (
    'none': 14px,
    'xs': 10px,
    'sm': 12px,
    'md': 16px,
    'lg': 24px,
    'xl': 32px
  ),
  $diygw-font-sizes
);

$diygw-radius: 6px;
$diygw-margin: () !default;
$diygw-margin: map.merge(
  (
    'none': 10px,
    'xs': 5px,
    'sm': 10px,
    'md': 12px,
    'lg': 20px,
    'xl': 30px
  ),
  $diygw-margin
);


$diygw-padding: () !default;
$diygw-padding: map.merge(
  (
    'none': 10px,
    'xs': 5px,
    'sm': 10px,
    'md': 12px,
    'lg': 20px,
    'xl': 30px
  ),
  $diygw-padding
);


$diygw-height: () !default;
$diygw-height: map.merge(
  (
    'none': 32px,
    'xs': 24px,
    'sm': 28px,
    'md': 32px,
    'lg': 40px,
    'xl': 60px
  ),
  $diygw-height
);

$diygw-lineheight: () !default;
$diygw-lineheight: map.merge(
  (
    'none': 24px,
    'xs': 20px,
    'sm': 24px,
    'md': 28px,
    'lg': 32px,
    'xl': 48px
  ),
  $diygw-lineheight
);

