@font-face {
    font-family: "iconfont"; /* Project id 3444456 */
    /* Color fonts */
    src: 
         url('//at.alicdn.com/t/c/font_3444456_vypj0voadyd.woff2?t=1661658206620') format('woff2'),
         url('//at.alicdn.com/t/c/font_3444456_vypj0voadyd.woff?t=1661658206620') format('woff'),
         url('//at.alicdn.com/t/c/font_3444456_vypj0voadyd.ttf?t=1661658206620') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-download:before {
    content: "\ed4f";
  }
  
  .icon-a-01pinglun1:before {
    content: "\edb8";
  }
  
  .icon-a-02pinglun2:before {
    content: "\edb9";
  }
  
  .icon-a-03anquan:before {
    content: "\edba";
  }
  
  .icon-a-04dingwei:before {
    content: "\edbb";
  }
  
  .icon-a-05shouji:before {
    content: "\edbc";
  }
  
  .icon-a-06mima:before {
    content: "\edbd";
  }
  
  